/*******************************************************************************************
 * This file contains the stlying used for layout.
 *******************************************************************************************/

@charset "UTF-8";

:root {
    /*
        3pt: expand bar
        4%: <article> padding
        1px: dummpy
    */
    --artile_main_width: calc(85% - 3pt - 4% - 1px);
}

body {
    height: 100vh;
    max-height: 100vh;
}

header {
    height: 3%;
}

main {
    /* 
        2pt: border in headr and footer 
    */
    height: calc(94% - 2pt);
    display: flex;
}

aside.sidebar {
    width: 15%;
    overflow-y: scroll;
}

/* Webkit浏览器隐藏滚动条 */
/* aside::-webkit-scrollbar {
    display: none;
} */

/* 定制滚动条的宽度和背景颜色 */
aside::-webkit-scrollbar {
    width: 8px; /* 定义滚动条的宽度 */
    background-color: #25212d; /* 定义滚动条轨道的背景颜色 */
  }
   
  /* 定制滚动条滑块的样式 */
  aside::-webkit-scrollbar-thumb {
    background-color: #97b7e1; /* 定制滑块颜色 */
    border-radius: 10px; /* 定制滑块边角的圆滑程度 */
  }

article {
    width: var(--artile_main_width);
}

footer {
    height: 3%;
}
